/* Estilos Generales */
.acercami-image img {
    max-width: 100%;
    border-radius: 50%;
    border: 4px solid #ccc;
}

.acercami-image {
    flex: 0 0 30%;
    padding-left: 20px;
    text-align: left;
    position: relative;
    width: 300px;
    height: 300px;
}

.image-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.acercami-section {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.acercami-text {
    flex: 1;
    padding-right: 20px;
    text-align: left;
}

body {
    background: linear-gradient(to bottom, #333333, #f0f0f0);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.carousel-inner img {
    object-fit: cover;
    max-height: 400px;
    width: auto;

}

#projectos {
    padding: 1rem;
    padding-bottom: 2rem; /* Added bottom padding */
}

.proyecto-row {
    margin-top: 20px; 
    margin-bottom: 20px;
  }


.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    transform: translateY(-50%);
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

section {
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 30px;
  }

  section h2 {
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 10rem;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 8rem;
}

.navbar .nav-item {
    color: black;
    transition: border-color 0.3s, color 0.3s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    background-color: gray;
    border: 1px solid green;
    color: #00ff00;
}

.navbar-toggler {
    background-color: white;
}

.navbar-toggler:hover {
    background-color: grey;
}

nav {
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #00ff00;
    text-decoration: none;
}



.scroll-to-top {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 34px;
    left: 20px;
    opacity: 0;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    transition: opacity 0.3s ease-in-out;
    width: 20p;
    z-index: 999;
}

@media (max-width: 568px) {

    main {
        padding: 6rem 1rem;
    }

    .acercami-section {
        flex-direction: column;
    }
}

@media (max-width: 980px) {
    .acercami-image {
        flex: 0 0 50%; 
        padding-left: 0; 
        text-align: center; 
    }
}

@media (max-width: 767px) {
    .acercami-image {
        flex: 0 0 50%;
        padding-left: 0;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 977px) {
    .github-link-container {
        flex-direction: column;
        text-align: center;
      }
      .linkedin-link-container {
        flex-direction: column;
        text-align: center;
      }
}

/* Contacto Section */
#contacto {
    position: relative;
}

#Formulario-Contacto {
    margin: 0 auto;
    max-width: 500px;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.75rem;
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    font-weight: bold;
}

textarea.form-control {
    resize: vertical;
}

.nowrap {
    white-space: nowrap;
  }

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 0.75rem 1rem;
}

.btn-primary:hover {
    background-color: #0056b3;
}


/*Habilidades section*/

#habilidades {
    padding-top: 2rem;
}

#habilidades h2 {
    margin-bottom: 1rem;
}

#habilidades h3 {
    margin-bottom: 1rem;
}

#habilidades .col {
    text-align: center;
}

#habilidades ul {
    list-style: none;
    padding: 0;
}

.habilidades {
    list-style: none;
    padding: 0;
    margin: 0;
}

.habilidades li {
    word-wrap: break-word;
    padding: 5px 0;
    display: block;
}
/* Valores y Vision Section */
#valoresvision {
    padding-top: 2rem;
}

#valoresvision h2 {
    margin-bottom: 1rem;
}

#valoresvision h3 {
    margin-bottom: 1rem;
}

#valoresvision .col {
    text-align: center;
}

/* GitHub Link */
.github-link {
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin-top: 1rem;
    padding: 10px 20px;
    text-decoration: none;
}

.github-link:hover {
    background-color: #555;
    color: #07d147;
}

.github-link-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.github-logo {
    background-image: url('imagenes/gitHubLogo.png');
    background-size: 24px;
    height: 24px;
    margin-right: 0px;
    margin-bottom: 10px;
    width: 24px;
}

.github-text {
    color: #333;
    margin-right: 10px;
    margin: 0;
    margin-bottom: 10px;
}


/* LinkedIn Link */
.linkedin-link {
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    margin-top: 1rem;
    padding: 10px 20px;
    text-decoration: none;
}

.linkedin-link:hover {
    background-color: #555;
    color: #07d147;
}

.linkedin-link-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.linkedin-logo {
    background-image: url('imagenes/Linkedin.png');
    background-size: 24px;
    height: 24px;
    margin-right: 0px;
    margin-bottom: 10px;
    width: 24px;
}

.linkedin-text {
    color: #333;
    margin-right: 10px;
    margin: 0;
    margin-bottom: 10px;
}

.btn-custom {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


.btn-custom:hover {
    background-color: #333;
    color: green;
}

.white-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
}

.scroll-to-top {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 34px;
    left: 20px;
    opacity: 0;
    padding: 10px;
    position: fixed;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
}


.scroll-to-top:hover {
    background-color: grey;
    color: #00ff00;
}